<div class="text-center"> 
    
  <h1>Login</h1>
  <p>Bem-vindo</p>

  <div>

    <input type="text" placeholder="Usúario">
    <input type="password" placeholder="Senha">

  </div>

    <button class="bg-dark text-light mt-3">Entrar</button>

</div>